:host {
    display: block;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
  }
  .mat-dialog-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1em;
    margin-bottom: 5px;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 10px;
  }
  
  li {
    font-size: 1em;
    margin-bottom: 5px;
  }
        